name: Renovate

on:
  schedule:
   - cron: "*/2 * * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Add any additional configuration options here
